    button {
    margin: .5rem;
}
.row {
    margin-top: .5rem;
}
.my-gif-image {
    padding: .5rem;
    height: 250px;
}
.saved {
    padding: .5rem;
}
.new-gif {
    float: left;
}
.gif-rating {
    padding-left: 1rem;
}