body {
    background-color: #D0d3c5;
    height: 100%;
}
h1 {
    padding-bottom: 15px;
}
h2 {
    padding-top: 15px;
    margin-bottom: 40px;
}
.container {
    max-width: 1500px;
    height: 100%;
}
.formRow {
    width: 100%;

}
#map {
    height: 20rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    border: 1px solid #032b2f;
    max-width: 40rem;
}
.panel-heading {
    color:#08708a;
    font-family: "lato";
    font-size: 26px;
    font-weight: bold;
    /* text-decoration: underline; */
    /* text-decoration-color:#d73a31; */
    padding: 15px;
    border: 15px;
    margin-top: 15px;
    margin-bottom: 40px;
    margin-right: 15px;
    margin-left: 15px;
    text-align: center;
}
label {
    color:#08708a;
    font-weight: bold;
    font-size: 18px;
    margin-left:25px;
    margin-right:10px;
}
.type-label {
    float: left;
}
.type {
    float: left;    
}
option {
    background-color:#D0d3c5;
    color:#08708a;
    font-family: "open sans";
    font-size: 15px;
    font-weight: bold;
}
#submit{
    background-color: #032b2f;
    border-color: #032b2f;
    color: white;
    margin: 30px; 
}
.form-row {
    margin-left: auto;
    margin-right: auto;
}
.output {
    border: 1px solid black;
}
#description, #map {
    color: #08708a;
    font-family: "lato";
    font-size: 20px;
    /* font-weight: bold; */
    /* text-decoration: underline;
    text-decoration-color:#d73a31; */
    padding-left: 15px;
    padding-right: 15px;
    border: 15px;
    margin-top: 1rem;
    margin-bottom: 40px;
    margin-right: 15px;
}
#map {
    margin-top: 1.6rem;
}
img {
    height:180px;
    width:250px;
    text-align: center;
    border-style:solid;
    border-width:1px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    position:relative;
}
.placeholder {
    height: 20rem;
}
.modal {
    font-family: "lato";
    color: #032b2f;
    font-size: 24px;
}
/* @media (max-width: 575.98px) {

    h1 {
        font-size: 35px;
        padding-bottom: 20px;
    }
    .map-col {
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    h2 {
        font-size: 25px;
        margin-bottom: 30px;
    }
    .panel-heading {
        font-size: 24px;
    }
    label {
        font-size: 18px;
        margin-bottom: 1px;
    }
    
    .form-control {
        font-size: 12px;
        padding: 1px;
        margin-left: 19px;
        margin-top: 10px;
    }
    option {
        font-size: 12px;
    }
    #submit {
        font-size:12px;
        margin-left: 30px;
        margin-right: 1px;
        margin-top: 29px;
        margin-bottom: 1px;
       
    }
    img {
        height:32px;
        width:55px;
    }
    .placeholder {
        height:266px;
        width:266px;
    }
    #description, #map {
        font-size: 24px;
    }
    
}
@media (min-width: 576px) and (max-width: 767.98px) {

    h1 {
           font-size: 36px;
           padding-bottom: 10px;
    }
   
    h2 {
           font-size: 25px;
           margin-bottom: 30px;
    }
   
    .panel-heading {
           font-size: 24px;
    }
   
    label {
           font-size: 14px;
           margin-bottom: 1px;
    }
       
    .form-control {
           font-size: 14px;
           padding: 5px;
           margin-left: 1px;
           margin-top: 10px;
    }
   
    option {
           font-size: 14px;
    }
   
    #submit {
           font-size:14px;
           margin-left: 30px;
           margin-right: 1px;
           margin-top: 18px;
           margin-bottom: 5px;
          
    }
   
    img {
           height:110px;
           width:150px;
    }
   
    .placeholder {
           height:270px;
           width:270px;
    }
   
    #description, #map {
           font-size: 24px;
    }
   
} */
       
@media (min-width: 0) and (max-width: 991.98px) {

    /* h1 {
        font-size: 40px;
        padding-bottom: 10px;
    } */
    /* h2 {
        font-size: 38px;
        margin-bottom: 30px;
    } */
    .panel-heading {
        font-size: 3rem;
        padding: 0; 
        margin-bottom: 1rem;  
    }
    label {
        font-size: 2rem;
        margin-bottom: 1px;
       
    }
    img {
        width: 15rem;
    }
   
    .form-control {
        font-size: 17px;
        padding: 5px;
        margin-left: 1px;
        margin-top: 10px;
    }
    option {
        font-size: .5rem;
    }
    #submit {
        font-size:18px;
        margin-left: 30px;
        margin-right: 1px;
        margin-top: 18px;
        margin-bottom: 5px;
       
    }
    /* img {
        height:130px;
        width:200px;
    } */
    .placeholder {
        /* height:360px; */
        width: 40rem;
    }
    #description, #map {
        font-size: 24px;
    }
    #map {
        height: 30rem;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        max-width: 50rem;
        margin-top: 1rem;
    }
}
    
@media (min-width: 1200px) {
    h1 {
        font-size: 42px;
        padding-bottom: 10px;
    }
    h2 {
        font-size: 38px;
        margin-bottom: 40px;
    }
    .panel-heading {
        font-size: 34px;
    }
    label {
        font-size: 24px;
        margin-bottom: 1px;
    }
    
    .form-control {
        font-size: 24px;
        padding: 5px;
        margin-left: 1px;
        margin-top: 10px;
    }
    option {
        font-size: 24px;
    }
    #submit {
        font-size:24px;
        margin-left: 30px;
        margin-right: 1px;
        margin-top: 18px;
        margin-bottom: 5px;
    }
    img {
        height:220px;
        width:280px;
    }
    .placeholder {
        /* height:500px; */
        width:500px;
    }
    #description, #map {
        font-size: 24px;
    }
}