.burger-pic {
    width: 5rem;
    margin-bottom: .25rem;  
}

.submit-btn {
    margin-bottom: 3rem;
}

.burger-name {
    font-family: 'Poiret One', cursive;
    color: blue;
    font-size: 1.5rem;
}

.burger-item {
    list-style-type: none;
}